:root {
  --branding-color: #004445;
  --secondary-color: #2c786c;
  --background-color: #f8f9fa;
  --btn-color: #f8b400;
  --background-gradient: linear-gradient(
    73deg,
    rgb(44, 120, 108) 0%,
    rgb(0, 68, 69) 100%
  );
  --default-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font);
  background: var(--background-color);
  color: var(--branding-color);
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 44px;
}

h3 {
  color: var(--background-color);
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

footer {
  background: var(--background-gradient);
  padding: 30px 0px 20px 0;
  margin-top: 80px;
}

footer img {
  max-width: 20px;
}

footer a {
  padding: 0 20px;
  color: #fff;
  font-size: 20px;
}

footer a:hover {
  color: var(--btn-color);
}

.navbar {
  background: var(--background-gradient);
}

.btn-cta {
  background: var(--btn-color);
  font-family: var(--default-font);
  font-size: 24px;
  padding: 20px 30px;
  margin: 5px auto;
  color: var(--branding-color);
  transition: all 400ms ease-in-out;
}

.btn-cta:hover {
  background: #eeecde;
  color: var(--btn-color);
}

.btn-secondary {
  background: var(--background-color);
  border: 1px solid var(--btn-color);
  font-family: var(--default-font);
  font-size: 24px;
  padding: 20px 30px;
  margin: 5px auto;
  color: var(--btn-color);
  transition: all 400ms ease-in-out;
}

.btn-secondary:hover {
  background: var(--btn-color);
  color: #eeecde;
  border: none;
}

.main-content {
  padding: 0 60px;
}

.intro-section {
  max-width: 700px;
  margin: 60px auto;
  background: var(--background-gradient);
  padding: 30px 40px;
  border-radius: 5px;
  color: var(--background-color);
}

.intro-section img {
  max-width: 200px;
}

.intro-section-text {
  padding-left: 3rem;
}

.book-section {
  margin: 120px 0;
}

.book-section h2 {
  font-size: 72px;
}

.book-card {
  border: none;
  color: var(--branding-color);
  background: var(--background-color);
  margin-bottom: 20px;
}

.book-card .btn-secondary {
  font-size: 16px;
  padding: 10px 15px;
}

.book-cover {
  border-radius: 3px;
}

.book-country {
  text-transform: uppercase;
  font-weight: 500;
}

.btn-books {
  max-width: 50%;
}

.hero {
  padding: 0 30px 0 60px;
  margin-top: 30px;
}

.hero-text {
  padding: 20px 20px 0 0;
}

.books-page {
  margin-top: 80px;
}

.book-map {
  background: var(--background-gradient);
  color: var(--background-color);
  margin: 60px 60px;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.2);
}

.book-map iframe {
  width: 640px;
  height: 480px;
  padding: 20px;
}

.book-map h2 {
  padding: 20px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  .btn-cta,
  .btn-secondary {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .main-content {
    padding: 0 20px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  .btn-cta,
  .btn-secondary {
    font-size: 16px;
    padding: 10px 15px;
  }

  .intro-section img {
    max-width: 120px;
  }

  .book-section {
    margin: 80px 0;
  }
}

@media (max-width: 768px) {
  .book-section h2,
  .book-map h2 {
    font-size: 36px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .hero {
    padding: 30px 10px 0px 30px;
  }
}

@media (max-width: 576px) {
  .intro-section-text {
    padding-left: 0px;
  }

  .btn-books {
    max-width: 100%;
  }

  .hero {
    padding: 5px 20px 0px 30px;
    margin-top: 5px;
  }

  .book-map {
    margin: 60px 30px;
  }
}
