:root {
  --branding-color: #004445;
  --secondary-color: #2c786c;
  --background-color: #f8f9fa;
  --btn-color: #f8b400;
  --background-gradient: linear-gradient(
    73deg,
    rgb(44, 120, 108) 0%,
    rgb(0, 68, 69) 100%
  );
  --heading-font: "Special Elite", cursive;
  --default-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font);
  background: var(--background-color);
  color: var(--branding-color);
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 44px;
}

h3 {
  color: var(--background-color);
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

.navbar {
  background: var(--background-gradient);
}

.hero {
  padding: 10px 30px 40px 30px;
  margin: 20px auto;
}

.hero img {
  max-width: 80%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.hero-text {
  padding: 80px 30px 30px 0px;
}

.btn-cta {
  background: var(--btn-color);
  font-family: var(--default-font);
  font-size: 24px;
  padding: 20px 30px;
  margin: 5px auto;
  color: var(--branding-color);
  transition: all 600ms ease-in-out;
}

.btn-cta:hover {
  background: #eeecde;
  color: var(--btn-color);
}

.btn-secondary {
  background: var(--background-color);
  border: 1px solid var(--btn-color);
  font-family: var(--default-font);
  font-size: 24px;
  padding: 20px 30px;
  margin: 5px auto;
  color: var(--btn-color);
  transition: all 600ms ease-in-out;
}

.btn-secondary:hover {
  background: var(--btn-color);
  color: #eeecde;
  border: none;
}

.main-content {
  padding: 0 60px;
}

.intro-section {
  max-width: 700px;
  margin: 10px auto;
  background: var(--background-gradient);
  padding: 30px 40px;
  border-radius: 5px;
  color: var(--background-color);
}

.intro-section img {
  max-width: 200px;
}

.intro-section-text {
  padding-left: 3rem;
}

.book-section h2 {
  font-size: 72px;
}

.book-card {
  border: none;
  color: var(--branding-color);
  background: var(--background-color);
  margin-bottom: 20px;
}

.book-cover {
  border-radius: 3px;
}

.book-country {
  text-transform: uppercase;
  font-weight: 500;
}

.btn-books {
  max-width: 50%;
}

.about-intro {
  padding-left: 60px;
}

.books-page {
  margin-top: 80px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 32px;
  }

  .hero img {
    padding-top: 40px;
  }

  .btn-cta,
  .btn-secondary {
    font-size: 18px;
  }

  h3 {
    font-size: 28px;
  }
}

@media (max-width: 900px) {
  .main-content {
    padding: 0 20px;
  }

  .hero-text {
    padding: 40px 30px 0px 0px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  .btn-cta,
  .btn-secondary {
    font-size: 16px;
    padding: 10px 15px;
  }

  .intro-section img {
    max-width: 120px;
  }

  .about-intro {
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .book-section h2 {
    font-size: 36px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
  .about-intro {
    padding: 30px 60px;
  }
  .about-image {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero img {
    padding-top: 0px;
    margin: 0 auto;
    max-width: 70%;
  }

  .hero-text {
    padding: 0px;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 24px;
  }

  .hero-text h2 {
    font-size: 20px;
  }

  .intro-section-text {
    padding-left: 0px;
  }

  .btn-books {
    max-width: 100%;
  }
}
